  .gender-list {
    display: flex;
    justify-content: space-between;
  }
  
  .gender-item {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: transparent;
    
  }
