.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  border-bottom: 1px solid #444444;
}

.col-auto {
  max-width: none;
  align-content: center;
  text-align: end;
  width: 50rem;
}

.card-container {
  margin: 1rem; 
  color: #444444;
  text-decoration: none;

}