.container {
  max-width: 80%;
  width:90%; /*  ancho del contenedor */
  height: 50%; /* altura */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
.grid-container1 {
  width: 60rem;
  height: 26rem;
  display: grid;
  gap: 10px;
  overflow: hidden;
}

.grid-container2 {
  display: grid;
  gap: 10px;
  overflow: hidden;
}

.content-Gender {
  grid-column: 2; /*  elemento esté en la segunda fila */
  grid-row: 2;
  width:26rem;
  align-self: start;
}

.content-description{
  max-width: 100%;
  grid-column: 2;
  grid-row: 1;
  word-wrap: break-word;
  white-space: normal;
  font-size: 19px;
  text-align: justify;
}

.content-information {
  grid-column: 2; /*  elemento esté en la segunda fila */
  align-self: start;
  display: flex;
  gap: 20px;
}

.content-follow-button {
  grid-column: 2; 
  border-radius: 10px;
  padding: 1px;
  height: 30px;
  width: 80px;
  font-size: 14px;
  border: 1px solid #ccc;
  cursor: pointer;
}