.carousel-item-wrapper {
  background-color: #f6f4f4;
  padding: 1rem 17rem; /* Reducir el espacio interior */
  margin: 0 auto; /* Centrar el carousel horizontalmente */
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%; /* Limitar el ancho máximo */
  overflow: hidden;
}

.carousel-individual {
  padding: 1rem; /* Reducir el espacio interior */
  width: 50%; /* Reducir el ancho de los elementos */
  border-radius: 10px;
  background-color: white;
}

.carousel-individual p {
  color: #f5f5f5;
  text-align: center;
}

.carousel-individual a {
  text-decoration: none;
}


.color1 { background-color: rgb(231, 127, 148); }
.color2 { background-color: rgb(94, 182, 94); }
.color3 { background-color: rgb(42, 143, 216); }
.color4 { background-color: rgb(47, 111, 163); }
.color5 { background-color: rgb(255, 159, 43); }
.color6 { background-color: rgb(108, 94, 198); }
