/* Establece un tamaño máximo para las tarjetas */
.card-container {
  max-width: 350px;
  flex: 0 0 auto;
  margin: 0 auto; 
}


/* Añade un espacio entre las tarjetas */
.carousel-inner {
  display: flex;
  align-items: center;
}

.carousel-item {
  justify-content: space-between;
}

/* Añade un espacio entre las tarjetas en los extremos */
.extremos {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px;
}

/* Estilos personalizados para los controles del carrusel */
.custom-carousel-control {
  background-color: #67809c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-carousel-control .carousel-control-prev-icon,
.custom-carousel-control .carousel-control-next-icon {
  background-image: none;
  width: 20px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
}

.custom-carousel-control .carousel-control-prev-icon {
  transform: rotate(135deg);
}

.custom-carousel-control .carousel-control-next-icon {
  transform: rotate(-45deg);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}