/* Establece un tamaño máximo para las tarjetas */
.card-container {
  max-width: 300px; /* Ajusta este valor según el tamaño deseado */
  flex: 0 0 auto;
}

/* Añade un espacio entre las tarjetas */
.carousel-inner {
  display: flex;
  align-items: center;
}

.carousel-item {
  justify-content: space-between;
}

/* Añade un espacio entre las tarjetas en los extremos */
.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}
