/* Estilos comunes para contenedores */
@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

.login-container {
    height: 100vh;
    position: relative;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}


.common-container {
    width: 550px;
    max-width: 80%;
    background-color: #f5f5f5b6;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px auto; /* Centra el contenedor en la página */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos comunes para encabezados */
.common-container .h3 {
    color: #8B4513;
}

/* Estilos comunes para inputs */
.common-container .input {
    border: 1px solid #8B4513;
    border-radius: 10px;
    background-color: transparent;
    color: #8B4513;
    padding: 10px 15px; /* Aumentar el padding para más espacio */
    width: 90%;
    font-size: 16px;
}

.common-container .input:focus {
    outline: none;
    box-shadow: 0 0 5px #8B4513;
}

.common-container .input::placeholder {
    color: #8B4513;
}

/* Estilos comunes para botones */
.common-container .custom-button {
    border-radius: 20px;
    background-color: #808000;
    color: white;
    padding: 15px 30px; /* Aumentar el padding para más espacio */
    cursor: pointer;
    border: none;
    outline: none;
}

/* Estilos comunes para enlaces */
.common-container .custom-link {
    color: #8B4513;
    font-size: 16px;
    text-decoration: underline;
    transition: color 0.3s;
    cursor: pointer;
    margin-top: 10px; /* Aumentar el margen para más espacio */
}

.common-container .custom-link:hover {
    color: #808000;
}
