.login-container .contenedor {
    width: 550px;
    height: auto;
    max-width: 80%;
    background-color: #F5F5F5;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-container .h3 {
    color: #8B4513;
}

.login-container .input {
    border: 1px solid #8B4513;
    border-radius: 10px;
    background-color: transparent;
    color: #8B4513;
    padding: 5px 10px;
    font-size: 16px;
    width: 90%;
}

.login-container .input:focus {
    outline: none;
    box-shadow: 0 0 5px #8B4513;
}

.login-container .input::placeholder {
    color: #8B4513;
}

.login-container .custom-button {
    border-radius: 20px;
    background-color: #808000;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
}

.login-container .custom-link {
    color: #8B4513;
    font-size: 16px;
    text-decoration: underline;
    transition: color 0.3s;
    cursor: pointer;
}

.login-container .custom-link:hover {
    color: #808000;
}
